VITE_API_URL=https://api.afrotask.digify.com.ng/api
VITE_FIREBASE_API_KEY=AIzaSyBb1sqr8CjjbN1p2kgOmqcMZpUPg8HuACY
VITE_FIREBASE_AUTH_DOMAIN=my-p-2456.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=my-p-2456
VITE_FIREBASE_STORAGE_BUCKET=my-p-2456.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=138959313797
VITE_FIREBASE_APP_ID=1:138959313797:web:d395fd5f45ed9bf6e442ec
VITE_USE_EMULATOR=false